body{
  text-align: center;
}
.oferta {
  background-color: #222222;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.ofertaL {
  flex-grow: 0.95;
  margin-left: 100px;
  text-align: left;
}
.ofertaR {
  flex-grow: 0.05;
}
header{
  background-color: #f0a83e;
  display: flex;
  justify-content: space-around;
  height: 62px;
  align-items: center;
  position: sticky;
}
.headerL {
  flex-grow: 0.8;
  margin-left: 40px;
  text-align: left;
}
.headerR {
  flex-grow: 0.2;
}
.main {
  display: flex;
  position: relative;
}
.mainimg {
  width: 1025px;
  height: 409px;
}
.mainh1 {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 5%;
  text-align: center;
  position: absolute;
  width: 365px;
  height: 54px;
  left: 648px;
  top: 237px;
}
.mainsub {
  text-align: center;
  position: absolute;
  width: 202px;
  height: 19px;
  left: 734px;
  top: 303px;
}
.mainbutton {
  background-color: #f0a83e;
  color: white;
  border-radius: 5%;
  border: none;
  position: absolute;
  height: 49px;
  width: 141px;
  left: 767px;
  top: 334px;
}
.destaques{
    text-align: center;
}
.destaquesimg{
    display: flex;
    justify-content: space-around;
}
.form{
  background-color: #3C2313;
  color: white;
  margin-left: 5px;
  border-radius: 10%;
  width: 340px;
  height: 40px;
  text-align: left;
}
.formNome{
  background-color: #3C2313;
  color: white;
  margin-left: 5px;
  border-radius: 10%;
  width: 340px;
  height: 40px;
  text-align: left;
  position: absolute;
  margin-left: 171px;
}

.formEmail{
  background-color: #3C2313;
  color: white;
  margin-left: 5px;
  border-radius: 10%;
  width: 340px;
  height: 40px;
  text-align: left;
  position: absolute;
  margin-left: 171px;
}

.formTel{
  background-color: #3C2313;
  color: white;
  margin-left: 5px;
  border-radius: 10%;
  width: 340px;
  height: 40px;
  text-align: left;
  position: absolute;
  margin-left: 171px;
}

.formLimpar{
  background-color: #8A8787;
  color: white;
  width: 110px;
  height: 34px;
  border-radius: 15px;
  border: none;
}
.formEnviar{
  background-color: #F0A83E;
  color: white;
  width: 110px;
  height: 34px;
  border-radius: 15px;
  border: none;
}